.App {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  color: var(--text-color);
  background: var(--background-color);
}

.App-header {
  background-color: var(--header-background);
  color: var(--header-text);
  padding: 10px;
  border-radius: 8px;
}

.main-layout {
  display: flex;
  height: 600px; /* Adjust height as necessary */
}

.left-panel, .right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.left-panel {
  max-width: 50%;
}

.right-panel {
  max-width: 50%;
  align-items: flex-start;
  justify-content: space-between;
}

/* Light and dark mode variables */
:root {
  --background-color: #fff;
  --text-color: #333;
  --header-background: #0066cc;
  --header-text: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333;
    --text-color: #fff;
    --header-background: #0055a4;
    --header-text: #ccc;
  }
}

/* Component specific styles */
.component {
  border: 2px solid grey;
  border-radius: 10px;
  padding: 10px;
  overflow-y: auto;
}